<!-- <nav class="navbar navbar-light bg-light">
  <div class="main-div">
 <div>
  Angular Routing
 </div>
 <div >
  <ul class="ul-div">
    <li [routerLink]="['/home']">home</li>
    <li [routerLink]="['/about']">about us</li>
    <li [routerLink]="['/contact']">contact us</li>
  </ul></div>
 </div>
</nav>
<router-outlet></router-outlet> -->

<!-- <div class="main-content">
  <h3 style="text-align: center;">Api calling in Angular</h3>
  <ul *ngFor="let item of postArray">
    <li>{{item.title}}</li>
</ul>
</div> -->
<div class="main-content">
  <h3 style="text-align: center;">Api calling in Angular</h3>
  <ul *ngFor="let item of postArray"> 
    <li>----</li>
    <pre>{{  item | json }}</pre>
  </ul>
  
</div>